/* Поле для загрузки нового изображения
   ========================================================================== */

  .Img-upload {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;

  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.Img-upload__wrapper {
  margin: 0 auto;
  width: 582px;

  text-align: center;
}

.Img-upload__form {
  position: relative;
  min-height: 569px;

  background-color: #eed21e;
  background-image: url("../../img/logo-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

.Img-upload__start {
  position: relative;

  margin: 0;
  padding: 0;
  min-height: 569px;

  background-image: url("../../img/logo-mask.png");
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

.Img-upload__label {
  position: absolute;

  top: 194px;
  left: 203px;

  width: 180px;
  height: 181px;

  font-size: 0;

  background-image: url("../../img/upload-button-bg.png");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.Img-upload__label::after {
  content: "";
  position: absolute;

  top: 32px;
  left: 47px;

  width: 86px;
  height: 114px;

  background-image: url("../../img/svg/upload-button.svg");
  background-repeat: no-repeat;
  background-position: center;

  -webkit-filter: drop-shadow(0 0 10px #943106);
          filter: drop-shadow(0 0 10px #943106);
}

.Img-upload__label:hover::after,
.Img-upload__label:active::after {
  -webkit-filter: drop-shadow(0 0 10px #622104);
          filter: drop-shadow(0 0 10px #622104);

  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.Img-upload__input:focus + .Img-upload__label {
  outline: auto 5px highlight;
}


/* Окно для редактирования изображения
    ========================================================================== */

.Img-upload__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;
  height: 100%;

  padding-top: 60px;
  padding-bottom: 60px;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.8);
}

.Img-upload__preview-container {
  position: relative;
  margin-bottom: 30px;
}

/**
 * Кнопки изменения масштаба изобраения
 */

.Img-upload__scale {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/**
 * Превью изображения
 */

.Img-upload__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;

  width: 600px;
  height: 600px;

  background-color: #ffffff;
}

.Img-upload__preview img {
  display: block;
  max-width: 600px;
  max-height: 600px;
}

/**
 * Кнопка для отправки изображения
 */

.Img-upload__submit {
  padding: 10px 20px;

  color: #ffe753;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;

  background-color: rgba(255, 231, 82, 0.2);

  border: 0;
  border-radius: 4px;
}

.Img-upload__submit:hover,
.Img-upload__submit:focus {
  background-color: rgba(255, 231, 82, 0.4);
}

.Img-upload__submit:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

.Img-upload__submit:disabled,
.Img-upload__submit--disabled {
  opacity: 0.3;
}

/*
 * Кнопка для закрытия окна редактирования изображения
 */

.Img-upload__cancel {
  position: absolute;
  top: 0;
  left: 610px;
}

.Img-upload__cancel:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

/* Экраны с сообщениями для пользователя
   ========================================================================== */

@media (min-width: 1024px) and (max-width: 1359px) {
  .Img-upload {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;

    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
}

@media (min-width: 0) and (max-width: 1023px) {
  .Img-upload {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;

    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
}
