/* Блок, в котором размещаются фотографии других пользователей
   ========================================================================== */

.Picture {
  position: relative;
  line-height: 0;
}

.Picture__img {
  max-width: auto;
  width: 100%;
  height: auto;
}

.Picture__info {
  display: none;

  margin: 0;
  padding: 15px;
  position: absolute;
  bottom: 10px;
  left: 50%;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Picture:hover .Picture__info,
.Picture:focus .Picture__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Picture__comments,
.Picture__likes {
  padding-left: 30px;
  position: relative;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.Picture__comments {
  margin-right: 10px;
}

.Picture__comments::before,
.Picture__likes::before {
  content: "";
  position: absolute;
  left: 5px;
  top: -7px;

  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;
}

.Picture__comments::before {
  width: 20px;
  height: 16px;

  background-position: -5px -5px;
}

.Picture__likes::before {
  width: 20px;
  height: 16px;

  background-position: -5px -31px;
}
