/**
 * Блок с эффектами, которые можно применить к изображению
 */

.Effects {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none;
}

.Effects__list {
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;

  list-style: none;
  text-align: center;
}

.Effects__item {
  margin-right: 5px;
}

.Effects__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;

  cursor: pointer;
}

.Effects__label:hover,
.Effects__label:focus,
.Effects__radio:checked + .Effects__label {
  color: #ffe753;
}

.Effects__preview {
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 5px;

  overflow: hidden;

  font-size: 0;

  background-color: #314359;
  background-image: url("../../img/upload-default-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  border: solid 5px transparent;
  border-radius: 5px;
}

.Effects__preview:last-of-type {
  margin-right: 0;
}

.Effects__radio:checked + .Effects__label .Effects__preview {
  border: 5px solid #ffe753;
}

.Effects__radio:focus + .Effects__label .Effects__preview {
  outline: auto 5px highlight;
}

.Effects__preview--chrome {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.Effects__preview--sepia {
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.Effects__preview--marvin {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Effects__preview--phobos {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.Effects__preview--heat {
  -webkit-filter: brightness(3);
          filter: brightness(3);
}
