/* Подвал сайта
   ========================================================================== */

.Page-footer {
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 1px #cccccc;
}

.Page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;
      -ms-flex-align: start;
        align-items: flex-start;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

/*
 * Копирайт Академии
 */

 .Copyright {
  font-size: 12px;
}

.Copyright__link--image:hover,
.Copyright__link--image:focus {
  opacity: 0.6;
}

.Copyright__link--text {
  color: #ffffff;
}

.Copyright__link--text:hover,
.Copyright__link--text:focus {
  opacity: 0.6;
}

.Page-footer__contacts {
  background-color: inherit;
}

/*
 * Ссылки на социальные сети
 */

.Contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contacts__link {
  display: block;

  width: 29px;
  height: 29px;
  margin-left: 10px;

  font-size: 0;

  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;

  opacity: 0.6;
  cursor: pointer;
}

.Contacts__link:hover,
.Contacts__link:focus {
  opacity: 1;
}

.Contacts__link--twitter {
  background-position: -5px -270px;
}

.Contacts__link--instagram {
  background-position: -5px -231px;
}

.Contacts__link--facebook {
  background-position: -5px -192px;
}

.Contacts__link--vk {
  background-position: -5px -309px;
}
