.Container {
  width: 1360px;
  margin: 0 auto;
}

.Modal-open {
  height: 100vh;
  overflow: hidden;
}

/**
 * Оверлей под экранами
 */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.8);
}

/*
 * Подпись к изображению
 */

.Likes-count {
  position: relative;
  padding-left: 30px;

  color: #f48181;

  cursor: pointer;
}

.Likes-count:hover {
  color: #e90000;
}

.Likes-count::before {
  content: "";
  position: absolute;

  top: 3px;
  left: 5px;

  width: 20px;
  height: 18px;

  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;

  background-position: -5px -56px;
  opacity: 0.5;
}

.Likes-count:hover::before,
.Likes-count:focus::before {
  opacity: 1;
}

.Likes-count:active::before,
.Likes-count--active::before {
  opacity: 1;
  background-position: -5px -81px;
}


/**
 * Спиннер загрузки комментариев и его анимация
 */

.Spinner::after {
  content: "";
  position: absolute;
  left: 200px;
  top: 7px;

  color: #3b77c0;
  font-size: 6px;

  width: 1em;
  height: 1em;
  border-radius: 50%;

  animation: spinner 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes spinner {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #3b77c0, 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.5), -1.8em -1.8em 0 0em rgba(51,102,204, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.7), 1.8em -1.8em 0 0em #3b77c0, 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.5), 1.8em -1.8em 0 0em rgba(51,102,204, 0.7), 2.5em 0em 0 0em #3b77c0, 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.5), 2.5em 0em 0 0em rgba(51,102,204, 0.7), 1.75em 1.75em 0 0em #3b77c0, 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.5), 1.75em 1.75em 0 0em rgba(51,102,204, 0.7), 0em 2.5em 0 0em #3b77c0, -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.5), 0em 2.5em 0 0em rgba(51,102,204, 0.7), -1.8em 1.8em 0 0em #3b77c0, -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.5), -1.8em 1.8em 0 0em rgba(51,102,204, 0.7), -2.6em 0em 0 0em #3b77c0, -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.5), -2.6em 0em 0 0em rgba(51,102,204, 0.7), -1.8em -1.8em 0 0em #3b77c0;
  }
}

/* Адаптивности чуток
   ========================================================================== */

@media (min-width: 1024px) and (max-width: 1359px) {
  .Container {
    width: 980px;
  }
}

@media (min-width: 0) and (max-width: 1023px) {
  .Container {
    width: 600px;
  }
}

/**
 * Кнопка закрытия модального окна
 */

.cancel {
  display: block;
  margin: 0;
  padding: 0;

  width: 42px;
  height: 42px;

  font-size: 0;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../../img/svg/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;

  border: 0;
  border-radius: 2px;

  opacity: 0.6;
}

.cancel:hover,
.cancel:focus {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.cancel:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

