.Container {
  width: 1360px;
  margin: 0 auto;
}

.Modal-open {
  height: 100vh;
  overflow: hidden;
}

/**
 * Оверлей под экранами
 */

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.8);
}

/* Блок, в котором размещаются фотографии других пользователей
   ========================================================================== */

.Picture {
  position: relative;
  line-height: 0;
}

.Picture__img {
  max-width: auto;
  width: 100%;
  height: auto;
}

.Picture__info {
  display: none;

  margin: 0;
  padding: 15px;
  position: absolute;
  bottom: 10px;
  left: 50%;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Picture:hover .Picture__info,
.Picture:focus .Picture__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Picture_.Comments,
.Picture__likes {
  padding-left: 30px;
  position: relative;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.Picture_.Comments {
  margin-right: 10px;
}

.Picture_.Comments::before,
.Picture__likes::before {
  content: "";
  position: absolute;
  left: 5px;
  top: -7px;

  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;
}

.Picture_.Comments::before {
  width: 20px;
  height: 16px;

  background-position: -5px -5px;
}

.Picture__likes::before {
  width: 20px;
  height: 16px;

  background-position: -5px -31px;
}

/**
 * Блок с эффектами, которые можно применить к изображению
 */

.Effects {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none;
}

.Effects__list {
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;

  list-style: none;
  text-align: center;
}

.Effects__item {
  margin-right: 5px;
}

.Effects__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;

  cursor: pointer;
}

.Effects__label:hover,
.Effects__label:focus,
.Effects__radio:checked + .Effects__label {
  color: #ffe753;
}

.Effects__preview {
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 5px;

  overflow: hidden;

  font-size: 0;

  background-color: #314359;
  background-image: url("../../img/upload-default-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  border: solid 5px transparent;
  border-radius: 5px;
}

.Effects__preview:last-of-type {
  margin-right: 0;
}

.Effects__radio:checked + .Effects__label .Effects__preview {
  border: 5px solid #ffe753;
}

.Effects__radio:focus + .Effects__label .Effects__preview {
  outline: auto 5px highlight;
}

.Effects__preview--chrome {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.Effects__preview--sepia {
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.Effects__preview--marvin {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Effects__preview--phobos {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.Effects__preview--heat {
  -webkit-filter: brightness(3);
          filter: brightness(3);
}


/**
 * Блок добавления хэштегов и комментария к изображению
 */

.Text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  text-align: center;
  border: none;
}

.Text__hashtags {
  width: 450px;

  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;

  border-radius: 5px;
}

.Text__description {
  width: 450px;
  height: 100px;

  margin: 0 auto;
  padding: 15px 10px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;

  border-radius: 5px;
}

/* Окно полноэкранного просмотра изображения
   ========================================================================== */

.Big-picture__preview {
  position: absolute;
  top: 60px;
  left: 50%;

  max-width: 600px;
  min-height: 600px;

  padding-bottom: 60px;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Big-picture__img img {
  display: block;
}

.Social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;

  max-width: 600px;

  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: none;

  background-color: #ffffff;
}


/*
 * Подпись к изображению
 */

.Social__header {
  padding: 15px 15px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: start;
     -ms-flex-pack: start;
   justify-content: flex-start;

  -webkit-box-align: flex-start;
     -ms-flex-align: flex-start;
        align-items: flex-start;

  border-bottom: 1px solid #cccccc;
}

.Social_.Picture {
  display: block;
  -ms-flex-negative: 0;
        flex-shrink: 0;
  margin-right: 15px;
}

.Social__caption {
  margin: 0;
  margin-right: 15px;
}

.Social__likes {
  margin: 0;
  margin-left: auto;
  min-width: 125px;
}

.Likes-count {
  position: relative;
  padding-left: 30px;

  color: #f48181;

  cursor: pointer;
}

.Likes-count:hover {
  color: #e90000;
}

.Likes-count::before {
  content: "";
  position: absolute;

  top: 3px;
  left: 5px;

  width: 20px;
  height: 18px;

  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;

  background-position: -5px -56px;
  opacity: 0.5;
}

.Likes-count:hover::before,
.Likes-count:focus::before {
  opacity: 1;
}

.Likes-count:active::before,
.Likes-count--active::before {
  opacity: 1;
  background-position: -5px -81px;
}


/*
 * Комментарии к изображению
 */

.Social_.Comments {
  -ms-flex-preferred-size: 100%;
               flex-basis: 100%;

  list-style: none;

  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.Social__comment {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.Social__comment-count {
  padding-top: 20px;
  padding-left: 65px;
}

.Social_.Comments-loader {
  padding: 0;
  padding-left: 65px;
  padding-bottom: 20px;
  position: relative;

  text-align: left;
  color: #3b77c0;

  background: none;
  border: none;
}

.Comments-loader {
  text-align: left;
  color: #3b77c0;

  background: none;
  border: none;
}

.Social__text {
  margin: 0;
}


/**
 * Спиннер загрузки комментариев и его анимация
 */

.Spinner::after,
.Comments-loader:active::after {
  content: "";
  position: absolute;
  left: 200px;
  top: 7px;

  color: #3b77c0;
  font-size: 6px;

  width: 1em;
  height: 1em;
  border-radius: 50%;

  animation: spinner 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes spinner {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #3b77c0, 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.5), -1.8em -1.8em 0 0em rgba(51,102,204, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.7), 1.8em -1.8em 0 0em #3b77c0, 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.5), 1.8em -1.8em 0 0em rgba(51,102,204, 0.7), 2.5em 0em 0 0em #3b77c0, 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.5), 2.5em 0em 0 0em rgba(51,102,204, 0.7), 1.75em 1.75em 0 0em #3b77c0, 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.5), 1.75em 1.75em 0 0em rgba(51,102,204, 0.7), 0em 2.5em 0 0em #3b77c0, -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.5), 0em 2.5em 0 0em rgba(51,102,204, 0.7), -1.8em 1.8em 0 0em #3b77c0, -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.5), -1.8em 1.8em 0 0em rgba(51,102,204, 0.7), -2.6em 0em 0 0em #3b77c0, -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.5), -2.6em 0em 0 0em rgba(51,102,204, 0.7), -1.8em -1.8em 0 0em #3b77c0;
  }
}


/*
 * Форма для отправки комментария
 */

.Social__footer {
  border-top: 1px solid #cccccc;
}

.Big-picture__cancel {
  position: absolute;
  top: 0;
  left: 100%;

  margin-left: 10px;
}

.Social__footer {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 15px;
}

.Social__footer-commentor {
  display: block;

  margin-right: 15px;
}

.Social__footer-text {
  width: 100%;

  border: none;
}

.Social__footer-btn {
  position: absolute;
  right: 15px;
  top: 50%;

  width: 34px;
  height: 34px;

  font-size: 0;

  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -106px;

  opacity: 0.6;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  border: none;
}

.Social__footer-btn:hover,
.Social__footer-btn:focus {
  opacity: 1;
}

.Social__footer-btn:active,
.Social__footer-btn--active {
  opacity: 1;
  background-position: -5px -149px;
}

/**
 * Экраны ошибки и успеха загрузки изображения
 */

.Error,
.Success {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.8);
}

.Error__inner,
.Success__inner {
  position: relative;
  width: 600px;
  padding: 50px 20px;
  padding-top: 150px;
  margin-top: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #ffe753;

  background-color: #3c3614;
  border-radius: 10px;
}

.Success__inner {
  padding: 100px 20px;
  padding-bottom: 75px;
}

.Error__title {
  position: relative;

  margin: 0;
  margin-bottom: 50px;

  font-size: 32px;
}

.Success__title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 32px;
}

.Error__title::before {
  content: "";
  position: absolute;

  width: 59px;
  height: 52px;

  top: -100px;
  left: 50%;

  background-image: url("../../img/svg/icon-warning.svg");

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Error__button,
.Success__button {
  padding: 5px 10px;

  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.Error__button:first-child {
  margin-right: 30px;
}

.Error__button:hover,
.Error__button:focus,
.Success__button:hover,
.Success__button:focus {
  opacity: 0.8;
}

.Error__button:active,
.Success__button:active {
  opacity: 0.6;
}

/* Адаптивности чуток
   ========================================================================== */

@media (min-width: 1024px) and (max-width: 1359px) {
  .Container {
    width: 980px;
  }
}

@media (min-width: 0) and (max-width: 1023px) {
  .Container {
    width: 600px;
  }
}
