/*
 * Подпись к изображению
 */

.Likes-count {
  position: relative;
  padding-left: 30px;

  color: #f48181;

  cursor: pointer;
}

.Likes-count:hover {
  color: #e90000;
}

.Likes-count::before {
  content: "";
  position: absolute;

  top: 3px;
  left: 5px;

  width: 20px;
  height: 18px;

  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;

  background-position: -5px -56px;
  opacity: 0.5;
}

.Likes-count:hover::before,
.Likes-count:focus::before {
  opacity: 1;
}

.Likes-count:active::before,
.Likes-count--active::before {
  opacity: 1;
  background-position: -5px -81px;
}
